.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.lat_teal {
  background: teal;
  color: #fff;
}

.purple {
  background: rebeccapurple;
}

.text_teal {
  color: teal
}

.text_comp_sm {
  color: black;
  font-size: 2px;
  font-family: "Times New Roman";

}


.red {
  background: indianred;
}




@media (max-width: 990px) {
  .make_dark{
     background-color: teal !important;
   }
 }